* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right bottom,
    #08203e,#557c93);
    display: grid;
    place-items:center;
    color:white;
}
.container{
    width: 80%;
    max-width:850px;
    padding: 30px;
    text-align: center;
    display: none;
}

/*heading*/
.container h1{
    font-size: 26px;
    margin-bottom: 40px;
    text-decoration: underline;
    text-underline-offset: 8px;
}
/*Question*/
.question{
    font-size: 26px;
    margin-top: 20px;
}
/*Options*/
.choices{
    margin-top: 20px;
}
.choice{
    font-size: 20px;
    background-color: white;
    color: black;
    margin: 10px auto;
    text-align: left;
    width: 60%;
    border-radius: 5px;   
    cursor: pointer;
    opacity: 0;
    transform: translateY(50%);
    animation:fade-in 0.7s ease forwards;
}
.choice:hover{
    background-color: #ddd;
}
/*Buttons(next,start)*/
.btn{
    width: 60%;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;/*top-bottom,left-right*/
    margin: 20px auto 0 auto;
    background-color: green;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color:rgb(72, 83, 72);
}
.startBtn{
    width: 15%;
    text-align: center;
}
/*Selected option*/
.selected{
    background-color: #007bff !important;
    color: white !important;
}
/*Score*/
.scoreCard{
    margin-top:20px ;
    font-size: 24px;
}
/*Alerts*/
.alert{
        background-color: lightgreen;
        border-radius: 5px;
        width: 100%;
        padding: 12px;
        position: absolute;
        top:0;
        text-align: center;
        color:black;
        display: none;
}
/*Timer*/
.timer{
    height: 72px;
    width: 72px;
    border-radius: 50%;
    background-color: #08203e;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    font-weight: 600;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 1s ease-in-out infinite;
}
/*Adding animation to choices*/
@keyframes fade-in{
    0%{
        opacity: 0;
        transform: translateY(50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/*Adding animation to timer*/
@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}