/* alpha channel-It decides the opacity(visibility) of color
ranges from 0 to 1(0=not visible,1=fully visible)
alpha in hex code=ranges(00-ff)(0 is not visible,ff=visible) example-#ff000000(red not visible) */
div{
    height: 200px;
    width: 200px;
    background-color: rgba(255,0,0,1);
    margin: 0 auto;  /*It will center the element*/
    margin-top: 10px;
    transition: margin-top 2s ease-in 0.2s; /*Says property|duration|timing-function|delay*/
 }
 /*
Opacity property-It decides the visibility of elements
ranges from 0 to 1(0=not visible,1=fully visible) 
If opacity=0 then color as well as elements won't be visible
but in alpha it'll visible.*/
#opacity{
    opacity: 1;
}
