#box1{
    height: 100px;
    width: 100px;
    background-color: green;
    transition: width 2s ease-in 0.5s;
}
#box1:hover{
    width: 600px;
}
#box2{
    height: 100px;
    width: 100px;
    background-color: red;
    transform: translate(200px,200px) rotate(90deg);
}
#box3{
    height: 100px;
    width: 100px;
    background-color: yellow;
    transform: skewX(20deg);
}
#box4{
    height: 100px;
    width: 100px;
    background-color: purple;
    box-shadow: 2px 2px 5px green;
}
#myPic {
    width: 200px;
    height: 200px;
    background: pink;
    background-image: url("nature.jpg");
    opacity: 0.5;
    
  }
  

