div{
    height: 200px;
    width: 200px;
    background-color: brown;
    border: 2px solid black;
    margin:2px;
    display: inline-block;/*By applyling inline as to convert block to div 
                    it won't show any effect because inline elements
                    doesn't support some properties*/
                    /*But by applying inline-block it'll show
                    change,style set as block but behaves as inline*/
    /*I can also delete elements having style*/
    /* display: none; It deletes all elements*/
}
#ss{
    display: none;/*it'll delete particular elemnts according to id*/
}