/*Display-It is used to dispaly block elements as inline
  and vice-versa.*/
  /* h1{
    display: inline;
  }
  span{
    display: block;
  } */
  span{
    border:5px solid black;
    /* background-color: green; */
    height: 50px;
    width: 40px;
    padding: 50px;
    margin: 50px;
  }
  p{
    border:5px solid black;
    background-color: green;
    height: 50px;
    width: 40px;
    padding: 50px;
    margin: 50px;
    
  }
  /*As in block elements it can change it's
  height,width,border,padding,margin
  But in inline elements it won't change in
  height,width,padding(only change in left,right),
  margin(only change in left,right)*/