h1{
    background-color: aqua;
    color:black;
}
@media (width:900px){
    h1{
        background-color: red;
        color:white;
    }
}
@media(min-width:200px) and (max-width:800px){
    h1{
        font-family: sans-serif;
        background-color: coral;
    }
}
@media(orientation:portrait){
    h1{
        border: 10px solid black;
    }
}