h2{
    color: brown;
}
span{
    color: goldenrod;
}
.card{
    width: 360px;
    height: 480px;
    border: 2px solid grey;
    margin:100px;
    display: inline-block;
    padding: 10px;
    border-radius: 25px;
}
.card img{
    width:360px;
    height: 200px;
    border-radius: 25px;

}
@media(max-width:375){
    
}