/*The position property in CSS is used to specify the positioning method of 
an element within its parent container.*/

div{
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    border:3px solid black;
    margin:20px;
    display: inline-block;
}
/*1.static: This is the default value. 
Elements with position: static; are positioned according to the normal flow of the document. 
This means they will be positioned based on the normal order they appear in the HTML code.*/
#static{
    background-color: yellow;
    position: static;
}
/*2.relative:When you set position: relative;, 
the element is positioned relative to its normal position in the document flow. This means you can move it 
using properties like top, bottom, left, and right, without affecting the position of other elements on the page.*/
#relative
{
    background-color: yellow;
    position: relative;
    top:100px;
    left:100px;
    
}
/*3.absolute-Elements with position: absolute; 
are removed from the normal document flow and 
positioned relative to the nearest positioned ancestor (an ancestor element with a position value other than static).
 If there is no positioned ancestor, it is positioned relative to the initial containing block,
  which is usually the viewport(position relative to browser window).*/
#absolute{
    background-color: yellow;
    position: absolute;
    top:100px;
    left:100px;
}
/*4.Fixed-Elements with position: fixed; 
are removed from the normal document flow and 
are positioned relative to the viewport, 
which means they will stay fixed in the same position even as the user scrolls the page. */
#fixed{
    background-color: yellow;
    position: fixed;
    top:100px;
    left:100px;
}