#outer{
    height:200px;
    width:70px;
    border:2px solid black;
}
#inner1,#inner2,#inner3{
    height:50px;
    width:50px;
    border:2px solid black;
    margin: 10px;
    border-radius: 25px;
}
#inner1{
    background-color: red;
}
#inner2{
    background-color: yellow;
}
#inner3{
    background-color: green;
}