        h1 {
            color:red;
            background-color: blanchedalmond;
        }
        p{
            color:blue;
            background-color: chartreuse;
        }
        button{
            color:crimson;
            background-color: cornsilk;
        }