
.one{
    height: 100px;
    width: 100px;
}
#a{
    background-color: aqua;
    position: relative;
    z-index: -1;
}
#b{
    background-color: blueviolet;
    position: relative;
    bottom: 50px;
    z-index: -2;
}
#c{
    background-color: chocolate;
}
/*z-index=when an element overlapp the which should
be look first on screen
values 
+ve=outwards to screen.
-ve=inwards to screen.
0=auto.
applicable if position is not static or default
By default=0*/